@charset "utf-8";
/*
Intro Styles
Description:	Layout and element specific styling for the master thesis page
Author:				Benjamin Wiederkehr
Start:				111217_BW
Last update:	120409_BW

/* OVERRIDE
/////////////////////////////////////////////////////////////////*/
body							{	font-size: 87.5%;}
h2,.post h3,.entry h3 { font-family: "ff-netto-web",sans-serif;}

/* HEADER
/////////////////////////////////////////////////////////////////*/
#header						{ height: 170px; position: relative; padding: 30px 0 0;}
#header h1				{ height: 110px; width: 230px; margin: 0;}
#header h1 a			{ display: block; height: 150px; width: 230px; background: url('http://benjaminwiederkehr.com/assets/img/benjaminwiederkehr_master_logo_dark.png') -20px 0 no-repeat;}
#header h1 a img	{ margin: 0 0 0 -20px; float: none;}

/* CONTENT
/////////////////////////////////////////////////////////////////*/
#content			{ padding: 0 0 60px;}
.post					{ border-top: 3px solid #d4d5d3; border-bottom: 1px solid #d4d5d3; padding-bottom: 36px; margin-bottom: 36px; position: relative;}
h2						{ margin:  1.8em 0 1em;}
h3						{ font-weight: bold; margin-bottom: 0.5em;}
h3.ui					{ color: #bbb; font-size: 10px; font-weight: normal; margin-bottom: 2px; text-transform: uppercase;}
h3.ui a				{ color: #bbb; font-weight: normal;}
h3.ui a:hover	{ color: #444; }

/* HOME
/////////////////////////////////////////////////////////////////*/
.home .introduction { border-top: 3px solid #d4d5d3; padding: 40px 0;}
.home .entry_date	  { top: 18px;}

/* JOURNAL
/////////////////////////////////////////////////////////////////*/
.journal			{ border-top: 3px solid #d4d5d3;}
.entry				{ border-bottom: 1px solid #d4d5d3; position: relative;}
.entry h2			{ margin:  1.8em 0 1.8em;}
.entry h2 a   { display: block;}
.entry h2 a:before{ 
  display: none;
  height: 20px;
  width: 20px;
  position: absolute;
  left: -30px;
  content: url(../images/toggle_btn.png);
}
.entry h2:hover a:before{ 
  display: block;
}
.entry.expanded h2 a:before{ 
  display: block;
  -moz-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
  -ms-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
  transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
}
.entry_date	  { font: italic 12px/18px "Georgia", Georgia, serif; color: #aaa; position: absolute; right: 0; top: 44px;}
.expanded .entry_text{ padding-bottom: 40px;}

/* SIDEBAR
/////////////////////////////////////////////////////////////////*/
#sidebar a							{ color: #aaa; font-weight: bold; text-decoration: none;}
#sidebar a:hover				{ color: #444;}
#sidebar p							{ font-size: 11px; margin: 0 0 40px;}
#sidebar p.lead					{ font: italic 14px/21px "Georgia", Georgia, serif; color: #aaa; margin-top: 40px;}
#sidebar h3							{ color: #bbb; font-size: 10px; padding-bottom: 2px; margin-bottom: 15px; text-transform: uppercase; border-bottom: 3px solid #d4d5d3;}
#sidebar ul							{ list-style: none; margin: 0 0 40px; padding: 0;}
#sidebar ul li					{ font-size: 11px; }
#sidebar ul li a				{ line-height: 20px; display: block; border-bottom: 1px solid #d4d5d3;}
#sidebar ul li a:hover	{ text-decoration: none; border-bottom: 1px solid #bbb; outline: none;}
#sidebar ul li a.active	{ border-bottom: 1px solid #bbb; color: #444;}
#sidebar dl							{ font-size: 11px; margin: 0 0 40px;}
#sidebar dt							{ float: none; margin-top: 1em;}
#sidebar dd							{ }

.sidebar_content p			{ color: #bbb;}

/* SLIDER
/////////////////////////////////////////////////////////////////*/
.orbit-wrapper{
  clear: both;
}
.orbit-wrapper #slider { 
  width: 670px;
  height: 503px;
  background-color: #efefec;
}
.orbit-wrapper #slider img{
  background: #efefec;
}
.orbit-wrapper div.slider-nav span {
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.orbit-wrapper div.slider-nav span.right {
  right: -40px; 
}

.orbit-wrapper div.slider-nav span.left {
  left: -40px; 
}

/* FOOTNOTES
/////////////////////////////////////////////////////////////////*/
.footnotes{
  padding-top: 36px; 
}
.footnotes hr{
  margin-bottom: 36px;
}
.footnotes ol {
	font-size: 0.85em;
	margin-top: 1.5em;
	padding-top: 1.5em;
}
.footnotes ol li{
  padding-left: 1.5em;
}
sup{
	font-size: 0.71em;
	padding-left: 3px;
}
sup a[rel="footnote"] {
	text-decoration: none;
}
a.footnoteBackref, a.footnoteLink {
	text-decoration: none;
}
/* VERSION
/////////////////////////////////////////////////////////////////*/
.version{
  font: italic 12px/18px "Georgia", Georgia, serif; color: #aaa;
  text-align: center;
  padding-bottom: 36px; 
  padding-top: 1.5em; 
  margin-bottom: 36px;
}