@charset "utf-8";
/*
Intro Styles
Description:	Layout and element specific styling for the master thesis page
Author:				Benjamin Wiederkehr
Start:				111217_BW
Last update:	120229_BW

/* OVERRIDE
/////////////////////////////////////////////////////////////////*/
body							{	font-size: 87.5%;}
h2, .post h3			{ font-family: "ff-netto-web",sans-serif;}

/* HEADER
/////////////////////////////////////////////////////////////////*/
#header						{ height: 170px; position: relative; padding: 30px 0 0;}
#header h1				{ height: 110px; width: 230px; margin: 0;}
#header h1 a			{ display: block; height: 150px; width: 230px; background: url('http://benjaminwiederkehr.com/assets/img/benjaminwiederkehr_master_logo_dark.png') -20px 0 no-repeat;}
#header h1 a img	{ margin: 0 0 0 -20px; float: none;}

/* CONTENT
/////////////////////////////////////////////////////////////////*/
#content			{ padding: 0 0 60px;}
.post					{ border-top: 3px solid #d4d5d3; border-bottom: 1px solid #d4d5d3; padding-bottom: 36px; margin-bottom: 36px; position: relative;}
h2						{ margin:  1.8em 0 1em;}
h3						{ font-weight: bold; margin-bottom: 0.5em;}
h3.ui					{ color: #bbb; font-size: 10px; font-weight: normal; margin-bottom: 2px; text-transform: uppercase;}
h3.ui a				{ color: #bbb; font-weight: normal;}
h3.ui a:hover	{ color: #444; }

/* JOURNAL
/////////////////////////////////////////////////////////////////*/
.journal			{ border-top: 3px solid #d4d5d3; }
.entry				{ border-bottom: 1px solid #d4d5d3; padding-bottom: 36px; margin-bottom: 36px; position: relative;}
.journal_date	{ font: italic 12px/18px "Georgia", Georgia, serif; color: #aaa; position: absolute; right: 0; top: 44px;}

/* SIDEBAR
/////////////////////////////////////////////////////////////////*/
#sidebar a							{ color: #aaa; font-weight: bold; text-decoration: none;}
#sidebar a:hover				{ color: #444;}
#sidebar p							{ font-size: 11px; margin: 0 0 40px;}
#sidebar p.lead					{ font: italic 15px/18px "Georgia", Georgia, serif; color: #aaa; margin-top: 41px;}
#sidebar h3							{ color: #bbb; font-size: 10px; padding-bottom: 2px; margin-bottom: 15px; text-transform: uppercase; border-bottom: 3px solid #d4d5d3;}
#sidebar ul							{ list-style: none; margin: 0 0 40px; padding: 0;}
#sidebar ul li					{ font-size: 11px; }
#sidebar ul li a				{ line-height: 20px; display: block; border-bottom: 1px solid #d4d5d3;}
#sidebar ul li a:hover	{ text-decoration: none; border-bottom: 1px solid #bbb; outline: none;}
#sidebar ul li a.active	{ border-bottom: 1px solid #bbb; color: #444;}
#sidebar dl							{ font-size: 11px; margin: 0 0 40px;}
#sidebar dt							{ float: none; }
#sidebar dd							{ margin-bottom: 1em;}

.sidebar_content p			{ color: #bbb;}

/* FOOTNOTES
/////////////////////////////////////////////////////////////////*/
.footnotes{
  border-bottom: 1px solid #d4d5d3;
  padding-top: 1.5em; 
  padding-bottom: 36px; 
  margin-bottom: 36px;
}
.footnote sup{
	font-size: 0.71em;
	padding-left: 0px;
}
a.footnoteTarget {
	text-decoration: none;
}
.footnote ol li:hover {
	text-decoration: underline;
}
a.footnoteBackref, a.footnoteLink {
	text-decoration: none;
}
ol.footnotesList {
	font-size: 0.85em;
}
ol.footnotesList > li {
	text-indent: -1.5em;
	padding-left: 1.5em;
	vertical-align: top;
}
.footnoteBackReferenceGroup {
	padding-right: 0.5em;
}
.footnoteBackref {
	padding-right: 0.25em;
}
span.footnoteContent {
}
span.footnoteContent > p:first-child, span.footnoteContent > div:first-child { 
	display: inline; 
}
span.footnoteContent p, span.footnoteContent div {
	text-indent: 0em;
}
/* VERSION
/////////////////////////////////////////////////////////////////*/
.version{
  font: italic 12px/18px "Georgia", Georgia, serif; color: #aaa;
  text-align: center;
  padding-bottom: 36px; 
  padding-top: 1.5em; 
  margin-bottom: 36px;
}